<!DOCTYPE html>
<html>
<head>
  <title>Contacts</title>
  <% if current_user %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <% else %>
    <%= stylesheet_link_tag 'session', media: 'all' %>
  <% end %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'shared/navigation' if current_user %>

  <div id="main-container" class="container">
    <div class="row">
      <div class="col-xs-12">
        <% flash.each do |name, msg| -%>
          <%= content_tag :div, msg, class: "alert alert-#{name}" %>
        <% end -%>
      </div>
    </div>

    <% if current_user %>
      <div class="row">
        <div class="col-xs-3">
          <h3>MiniContact</h3>
        </div>
    <% end %>
      <div class="col-xs-9">
        <%= yield %>
      </div>
    </div>
  </div>

</body>
</html>
